    <div class="row">
        <div class="col-xs-12">
            <img src="" alt="" class="img-responsive">
        </div>
    </div>
    <div class="row">
        <div class="class-xs-12">
            <h1>
                Nombre
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="class-xs-12">
            <div class="btn-group">
                <button class="btn btn-info dropdown-toggle">Gestionar receta <span class="carat"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="#">Añadir a lista</a></li>
                    <li><a href="#">Editar receta</a></li>
                    <li><a href="#">Eliminar receta</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            Descripción
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            Ingredientes
        </div>
    </div>