<div class="row" 
*ngIf="!!recipe, else noneSelected">
  <div class="col-xs-12">
    <img
      src="{{ recipe.imgPath }}"
      alt="{{ recipe.name }}"
      style="max-height: 400px;"
      class="img-responsive"
    />
  </div>
</div>
<div class="row">
  <div class="class-xs-12">
    <h1>
      {{ recipe.name }}
    </h1>
  </div>
</div>
<div class="row">
  <div class="class-xs-12">
    <div 
    class="btn-group" 
    appDropdown
    >
      <button type="button"  class="btn btn-info dropdown-toggle">
        Gestionar receta
        <span class="carat"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">Añadir a lista</a></li>
        <li><a href="#">Editar receta</a></li>
        <li><a href="#">Eliminar receta</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{ recipe.description }}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Ingredientes:
    {{ recipe.ingredients }}
  </div>
</div>


<ng-template #noneSelected>
  <h4>Please select a recipe</h4>
</ng-template>